{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malla curricular</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<style>
    .text-center {
        text-align: center;
    }
</style>

<body>
    <div class="contenedor">

        <center>
            <table border="1" class="text-center letra-tablas-default">
                <tr>
                    <td colspan="12">INSTITUTO SUPERIOR TECNOLÓGICO GUAYAQUIL
                        <br>
                        PLANIFICACIÓN MICROCURRICULAR - PROGRAMA ANALÍTICO
                    </td>
                </tr>
                <tr>
                    <th colspan="12" class="fondo_table_titulo">
                        A)Datos informativos
                    </th>
                <tr>
                    <th colspan="2">Carrera
                    <td colspan="12">Tecnología Superior en Desarrollo de Software</td>
                    </th>
                </tr>

                <tr>
                    <th colspan="2">
                        Periodo
                    <td colspan="4" class="p-25">Tercero</td>
                    </th>
                    <th colspan="2">
                        Prerequisitos
                    <td colspan="2">Programacion orientada a objeto</td>
                    </th>
                    <th>
                        Campo de formacion
                    <td colspan="3">
                        
                    </td>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        Unidad de Organizacion <br> Curricular
                    <td colspan="2">Basica</td>
                    <td colspan="2">None</td>
                    </th>
                    <th colspan="2">
                        profesional
                    <td colspan="2">X</td>
                    </th>
                    <th>
                        Correquisitos
                    <td colspan="4">
                    </td>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">Horas Componentes del
                        <br>Aprendizaje
                    <td colspan="4">Horas docencia 72</td>
                    </th>
                    <th colspan="2">
                        Horas Practicas
                    <td></td>
                    <td></td>
                    </th>
                    <th colspan="1">
                        Titulacion
                    <td colspan="4">

                    </td>
                    </th>
                </tr>
                </tr>
                <tr>
                    <th colspan="12" class="fondo_table_titulo letras-chicas">
                        B) APORTES TEÓRICOS, METODOLÓGICOS DE LA ASIGNATURA A LOS PROBLEMAS DE LA PROFESIÓN
                    </th>
                <tr>
                    <td colspan="12" class="text-derecha">
                        <li>Identifica cada una de las funciones administrativas</li>
                        <li>Aplica técnicas inferenciales e interpreta resultados de problemas planteados</li>
                        <li>Comparte recursos entre los equipos integrantes de una red.</li>
                        <li>Aplica técnicas en seguridades de base de datos.</li>
                    </td>
                </tr>
                </tr>
                <tr>
                    <th colspan="12" class="fondo_table_titulo letras-chicas">
                        C) OBJETIVOS DE LA ASIGNATURA
                    </th>
                <tr class="">
                    <td colspan="12" class="text-derecha">
                        <p class="text-negita text-derecha">Objetivo General:</p>

                        Desarrollar e implementar una guía de estudio para el estudiante de la carrera de desarrollo de
                        software, que permita adquirir conocimientos y destrezas para la materia de
                        programación visual, empleando tecnología python y mediante framework DJANGO.
                    </td>
                <tr></tr>
                <td colspan="12" class="text-derecha">
                    <p class="text-negita ">Objetivos específicos</p>
                    <ul>
                        <li>Comprender mediante los conceptos básicos del desarrollo de aplicaciones en ambiente visual
                            las etiquetas empleadas en HTML5, así como aprender a elaborar formularios empleando la
                            estructura HTML5 y django</li>
                        <li>Diseñar e implementar acertadamente el manejo de la administracion de DJANGO , Interfaz de
                            Usuario, Modelo y URLS. Mediante el Modelo Vista Template de Django</li>
                        <li>Utilizar las sentencias CRUD desde ORM DJANGO</li>
                        <li>Comprender e implementar un reporte básico con ReportLab</li>
                    </ul>

                </td>

                </tr>
                </tr>
                <tr>
                    <th colspan="12" class="fondo_table_titulo letras-chicas">
                        D) APORTES AL PERFIL DE EGRESO DE LA CARRERA
                    </th>
                <tr></tr>
                <td colspan="2">
                    <p class="text-negita">
                        Perfil de
                        <br>egreso de la<br>
                        carrera:
                    </p>
                <td colspan="10" class="text-derecha">
                    <ul>
                        <li>Identifica cada una de las funciones administrativas.</li>
                        <li>Aplica técnicas inferenciales e interpreta resultados de problemas planteados.</li>
                        <li>Comparte recursos entre los equipos integrantes de una red.</li>
                        <li>Aplica técnicas en seguridades de base de datos.</li>
                    </ul>

                </td>
                </td>
                <tr>
                    <td colspan="12" style="padding: 10px;">
                        <p class="text-derecha ">Realiza el desarrollo de sus aplicaciones usando plataformas actuales
                            de programación.</p>
                    </td>

                </tr>
                </tr>

                <tr>
                    <th colspan="12" class="fondo_table_titulo">
                        E) UNIDADES TEMÁTICAS
                    </th>
                <tr></tr>
                <th colspan="12" class="fondo_table_padre">UNIDAD # 1: INTRODUCCION A HTML5 y DJANGO</th>
                <tr></tr>
                <td colspan="12" class="text-derecha fondo_table_padre">
                    <p class="text-negita">OBJETIVO :</p>Comprender mediante los conceptos básicos del desarrollo de
                    aplicaciones en ambiente visual las etiquetas empleadas en HTML5, así como aprender a elaborar
                    formularios empleando la estructura HTML5 y django
                </td>
                <tr></tr>
                <th colspan="8" class="m-25 fondo_table_padre">
                    CONTENIDO
                </th>
                <th colspan="1" class="fondo_table_padre">
                    HORAS <br>
                    DOCENCIA
                </th>
                <th colspan="1" class="fondo_table_padre">
                    HORAS
                    <br> PRÁCTICAS
                    <br>DOCENCIA
                </th>
                <th colspan="1" class="fondo_table_padre">
                    HORAS
                    <br>
                    GESTIÓN
                    <br>
                    PRÁCTICA
                </th>
                <th colspan="1" class="fondo_table_padre">
                    HORAS <br>
                    AUTÓNOMA
                </th>
                </tr>
                <tr>
                    <td class="text-derecha" colspan="8">
                        <p>1.1 <span class="spacion-derecha">Lenguaje HTML5</span> </p>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    </td>
                <tr></tr>
                <td class="text-derecha" colspan="8">
                    <p>1.2 <span class="spacion-derecha">Lenguaje HTML5</span> </p>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                </td>
                <tr></tr>
                <td class="text-derecha" colspan="8">
                    <p>1.3 <span class="spacion-derecha">Lenguaje HTML5</span> </p>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                </td>

                <tr></tr>
                <td class="text-derecha" colspan="8">
                    <p>1.4 <span class="spacion-derecha">Lenguaje HTML5</span> </p>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                </td>

                <tr></tr>
                <td class="text-derecha" colspan="8">
                    <p>1.1 <span class="spacion-derecha">Lenguaje HTML5</span> </p>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                </td>
                <tr>
                    <td colspan="8" class="text-izquierda"><b>Total horas</b></td>
                    <td><b>2</b></td>
                    <td><b>33</b></td>
                    <td><b>1</b></td>
                    <td><b>4</b></td>
                </tr>
                </tr>
                <tr>
                    <th colspan="12" class="fondo_table_titulo">F) AMBIENTES DE APRENDIZAJE, MÉTODOS, PROCESOS DE
                        ENSEÑANZA, PROCESOS GENERALES DE EVALUACIÓN PROPUESTOS PARA LA ASIGNATURA</th>
                    <tr></tr>
                    <td colspan="12" class="text-derecha">
                        <b>METODOS DE ENSEÑANZA:</b>
                        <br>
                        <br>
                        <span>
                            Se utilizará metodología activa, inductiva, deductiva, las técnica a emplear son las
                            expositivas, observación directa e indirecta, la gamificación.
                            FORMAS DE ENSEÑANZA
                            Estimular el aprendizaje autónomo mediante trabajos de investigación, talleres, preguntas en el
                            classroom (Tipo Foro), exposiciones, .
                            <li>Lluvia de ideas.</li>
                            <li>Resolución de casos prácticos en el aula presencial y virtual con acompañamiento de docente y sin acompañamiento.</li>
                            <li>Resolución de casos prácticos en el aula presencial y virtual con acompañamiento de docente y
                                sin acompañamiento.</li>
                            <li>Investigaciones teórico-prácticos.</li>
                        <br>
                        </span>
                        <b>MEDIOS</b>
                        <br>
                        <span>
                            Las clases de esta materia se desarrollarán en espacios físicos reales y virtuales, dichos
                            espacios son el aula, la sala virtual en classroom, el meet y el dispositivo para la
                            interacción en clases y actividades. Los alumnos dispondrán de herramientas para su
                            autoformación. En clase editarán y trabajarán con el material gráfico visual o talleres. Se
                            les facilitarán material gráfico visual para la práctica o guía didáctica; se dará énfasis a la
                            reflexión y a la crítica del trabajo realizado en la clase anterior. Se realizarán además
                            deberes, investigaciones, exposiciones. Es decir que el proceso de aprendizaje será dinámico y
                            activo. Según como decida cada docente la presentación del proyecto será
                            presencial o virtual, en caso de ser presencial deberá informar al jefe de área, gestor de
                            formación y coordinador para gestionar la actividad.
                            
                        </span>
                        <br>
                        <br>
                        <b>EVALUACIÓN</b>
                        <span>
                            <li>La presentación de los deberes y tareas será obligatoria, en caso de incumplimiento se
                                impondrán sanciones en la nota de actividades.</li>
                            <li>La nota mínima para aprobar el curso es 7/10.</li>
                            <li>Sanción para el atraso en la entrega de trabajos</li>
                            <li>Los deberes deben ser presentados en la clase requerida no se aceptarán deberes a destiempo.</li>
                        </span>
                        - 
                        - 
                        - Sanción para el atraso en la entrega de trabajos
                        - 
                    </td>

                </tr>
                <tr>
                    <th colspan="12" class="fondo_table_titulo">G) PRODUCTOS ACADÉMICOS</th>
                    <tr></tr>
                    <th colspan="1">PRODUCTO ACADÉMICO FINAL<br>DE LA ASIGNATURA</th>
                    <td colspan="11">Desarrollo de un sistema de información para la automatización de un modelo de negocio, en base a la elaboración de pantallas de CRUD que
                        permita la gestión de tablas o estructuras principales y secundarias de base de datos asociadas al modelo de negocio.</td>
                    <tr></tr>
                    <th colspan="3" class="m-25 fondo_table_padre">OBJETIVO</th>
                    <th colspan="4" class="fondo_table_padre">PRODUCTOS PARCIALES</th>
                    <th colspan="4" class="fondo_table_padre">RESULTADOS Y ESTÁNDARES DE <br> PRESENTACIÓN</th>
                    <th colspan="4" class="m-25 fondo_table_padre">INTEGRACIÓN CON OTRAS<br>ASIGNATURAS</th>
                    <tr></tr>
                    
                    <td class="m-25" colspan="3">Conocer herramientas y <br>
                        recursos útiles para el <br>
                        desarrollo de front-end, como <br>
                        plantillas HTML y bibliotecas <br>
                        de diseño.
                    </td>
                    
                    <td colspan="4">
                        - Desarrollo de un producto de Software integrando<br>HTML5, CSS y javaScript
                    </td>
                    
                    <td colspan="4" class="text-derecha m-25" >
                        - Adquirir habilidades prácticas
                        <br>
                        - fomentar la creatividad y la innovación
                        <br>
                        - desarrollar habilidades de trabajo en equipo o
                        individual asi como la gestión del tiempo, lo
                        que es fundamental en el mundo laboral
                        <br>
                        - mejorar su capacidad para aplicar los
                        conceptos teóricos aprendidos en clase en
                        proyectos reales.
                        
                    </td>
                    <td>
                        - Programación Orientada a Objetos
                        <br>
                        - Diseño de Interfaz
                        - Base de Datos
                        <br>
                    </td>
                    
                </tr>

                <tr>
                    <th colspan="12" class="fondo_table_titulo">H) SISTEMA DE EVALUACIÓN</th>
                    <tr></tr>
                    <th colspan="4" class="m-25 fondo_table_padre">GESTIÓN FORMATIVA 30%</th>
                    <th colspan="6  " class="fondo_table_padre">GESTIÓN PRÁCTICA 30%</th>
                    <th colspan="4" class="fondo_table_padre">EXAMEN 40%</th>
                    <tr></tr>
                    <td class="m-25" colspan="4">Talleres colaborativos en clases, actuación de clases,
                        investigaciones, presentación y retroalimentación de
                        tareas.</td>
                        <td colspan="6">
                            Tareas autónomas y talleres en clases.
                        </td> 
                    <td colspan="2">
                        PRIMER PARCIAL
                            Examen Teórico - Práctico (70% - 30%)
                        SEGUNDO PARCIAL
                            Examen Teórico - Práctico (70% - 30%)
                    </td>
                </tr>
                <tr>
                    <th colspan="12" class="fondo_table_titulo">I) REFERENCIAS (actualizada, hasta 5 años)</th>
                    <tr></tr>
                    <th rowspan="4" class="p-b-t fondo_table_titulo" colspan="1">
                        <div class="rotated-text p-25">
                            Basica
                        </div>
                        <tr>
                            <th colspan="2" class="fondo_table_padre">No</th>
                            <th colspan="7" class="fondo_table_padre">TÍTULO DE LA OBRA (Autor, año, nombre de la obra, fuente) (aplicar normas APA7)</th>
                            <th colspan="1" class="fondo_table_padre">Existencia en
                                Biblioteca
                                (definir física o digital)</th>
                            <th colspan="2" class="fondo_table_padre">Número de
                                ejemplares</th>
                        </tr>
                        <tr>
                            <td colspan="2">1</td>
                            <td colspan="7">2</td>
                            <td colspan="1">3</td>
                            <td colspan="2">3</td>
                        </tr>
                        <tr>
                            <td colspan="2">1</td>
                            <td colspan="7">2</td>
                            <td colspan="1">3</td>
                            <td colspan="2">4</td>
                        </tr>
                    </th>
                    <tr></tr>
                    <th rowspan="4" class="p-b-t fondo_table_titulo" colspan="1">
                        <div class="rotated-text p-25">
                            Complementaria 
                        </div>
                        <tr>
                            <th colspan="2" class="fondo_table_padre">No</th>
                            <th colspan="7" class="fondo_table_padre">TÍTULO DE LA OBRA (Autor, año, nombre de la obra, fuente) (aplicar normas APA7)</th>
                            <th colspan="1" class="fondo_table_padre">Existencia en
                                Biblioteca
                                (definir física o digital)</th>
                            <th colspan="2" class="fondo_table_padre">Número de
                                ejemplares</th>
                        </tr>
                        <tr>
                            <td colspan="2">1</td>
                            <td colspan="7">2</td>
                            <td colspan="1">3</td>
                            <td colspan="2">3</td>
                        </tr>
                        <tr>
                            <td colspan="2">1</td>
                            <td colspan="7">2</td>
                            <td colspan="1">3</td>
                            <td colspan="2">4</td>
                        </tr>
                    </th>
                    <tr></tr>
                    <th rowspan="4" class="fondo_table_titulo" colspan="1">
                        <div class="rotated-text p-25 ">
                            Sitios Web 
                        </div>
                        <tr>
                            <th colspan="2" class="fondo_table_padre">No</th>
                            <th colspan="12" class="fondo_table_padre">DIRECCIONES ELECTRONICAS/ URL</th>
                            
                        </tr>
                        <tr>
                            <td colspan="2">1</td>
                            <td colspan="7">2</td>
                            <td colspan="1">3</td>
                            <td colspan="2">3</td>
                        </tr>
                        <tr>
                            <td colspan="2">1</td>
                            <td colspan="7">2</td>
                            <td colspan="1">3</td>
                            <td colspan="2">4</td>
                        </tr>
                    </th>
                </tr>
                <tr>
                    <th colspan="12" class="fondo_table_titulo">I) FIRMAS DE RESPONSABILIDAD</th>
                    <tr></tr>
                    <th colspan="2" class="m-25 fondo_table_padre">RESPONSABILIDAD</th>
                    <th colspan="4" class="fondo_table_padre">NOMBRE DEL RESPONSABLE</th>
                    <th colspan="4" class="fondo_table_padre">FIRMA</th>
                    <th colspan="4" class="m-25 fondo_table_padre">FECHA ENTEGA</th>
                </tr>
                <td colspan="2" rowspan="8" class="p-b-t-50">Elaborado por: <br>(Docentes)
                    <br>
                    <td colspan="4">Juanito </td>
                    <td colspan="4">FIRMA</td>
                    <td colspan="4"></td>
                    
                    <tr></tr>
                    <td colspan="4"> </td>
                    <td colspan="4">FIRMA</td>
                    <td colspan="4"></td>
                    
                    <tr></tr>
                    <td colspan="4"> </td>
                    <td colspan="4">FIRMA</td>
                    <td colspan="4"></td>
                    <tr></tr>
                    <td colspan="4"> </td>
                    <td colspan="4">FIRMA</td>
                    <td colspan="4"></td>
                    
                </td>
                <tr></tr>
                <td colspan="2" class="p-b-t">Revisado por:
                    <br>(Jefe de área)
                    <br>
                    <td colspan="4"> </td>
                    <td colspan="4"></td>
                    <td colspan="4"></td>
                    
                    
                </td>
                <tr></tr>
                <td colspan="2" class="p-b-t">Aprobado por: <br>
                    (Coordinador de carrera)
                    <br>
                    <td colspan="4"> </td>
                    <td colspan="4"></td>
                    <td colspan="4"></td>
                    
                    
                </td>
                
            </table>
            <a href="{% url 'menu' %}" class="btn btn-danger">Regresar al inicio</a>
        </center>
    </div>
</body>

</html>