{% extends 'Menu.html' %}


{% block content %}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <br>


            <form method="post">
                {% csrf_token %}
                <div class="content-wrapper">
                    {% if msg == False %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div >
                            <b>Usuario no registrado </b>
                            <br>
                            <span class="">
                                verifica si el Usuario ya exiiste en la base de datos.
                            </span>
                        </div>
                      </div>

                    {% elif msg == True %}
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                            <use xlink:href="#check-circle-fill" />
                        </svg>
                        <div>
                            Usuario registrado con exito!
                        </div>
                    </div>
                    {% endif %}
                    

                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-12">

                                    <div class="card-body ">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Ingrese la cedula</label>
                                            <input type="text" class="form-control"
                                                placeholder="numero de la cedula" name="cedula">
                                        </div>
                                        <div class="row">
                                            <div class="col-5 form-group">
                                                <label for="exampleInputPassword1">Ingrese los nombres </label>
                                                <input type="text" class="form-control"
                                                    placeholder="Nombres de la persona" name="nombres" required>
                                            </div>
                                            <div class="col-5 form-group">
                                                <label for="exampleInputPassword1">Ingrese los apellidos
                                                </label>
                                                <input type="text" class="form-control"
                                                    placeholder="Apellidos de la persona" name="apellidos" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="">Seleccione el rol que va a interpretar este
                                                usuario</label>
                                            <br>

                                            <select class="custom-select form-control w-100" required
                                                id="exampleSelectBorder"  name="opciones">
                                                <option value="">Seleccione el rol </option>
                                                {% for r in rol %}
                                                    <option value="{{ r.id }}">{{ r.nombre }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary w-100" name="btn-usuario" value="Crear"></input>
                    <br>
                    <br>
                    <button type="button" class="btn btn-success w-100" data-bs-dismiss="modal">cerrar</button>
                </div>
            </form>
        </div>
    </main>

</div>



{% endblock content %}